# Copy this file to
# - .env.local for local development
# - .env for prod

# Path to the SQLite file relative to the prisma folder
DATABASE_URL="file:./path-to.db"

# Secret key for cookie sessions
SESSION_KEY="SOME_KEY_FOR_SESSIONS"

# File path for uploads. Affects NODE_ENV=production only
# In development, uploads are stored in ./static and copied to ./build/static
UPLOADS_PATH="./static"

# Public Keys - these will be loaded into the client

# Google Books API key
PUBLIC_GAPI_KEY="GOOGLE_API_KEY_FOR_BOOKS"
